<h3>Famous Equations</h3>
<div class='math-list'>
    <h4><a href="https://en.wikipedia.org/wiki/Jacobian_matrix_and_determinant" target="_blank">1. Jacobian
            Determinant</a></h4>
    <p>Used for changing variables in multiple integrals.</p>
    $$ J = \det \frac{\partial(y_1, \dots, y_n)}{\partial(x_1, \dots, x_n)} $$

    <h4><a href="https://en.wikipedia.org/wiki/Jacobi_identity" target="_blank">2. Jacobi Identity</a></h4>
    <p>A property of the Poisson bracket and Lie algebras.</p>
    $$ [A, [B, C]] + [B, [C, A]] + [C, [A, B]] = 0 $$
</div>