<h3>Famous Equations</h3>
<div class='math-list'>
    <h4><a href="https://en.wikipedia.org/wiki/Torricelli%27s_law" target="_blank">1. Torricelli's Law</a></h4>
    <p>Describes the speed of fluid flowing out of an opening.</p>
    $$ v = \sqrt{2gh} $$

    <h4><a href="https://en.wikipedia.org/wiki/Gabriel%27s_horn" target="_blank">2. Torricelli's Trumpet (Gabriel's
            Horn)</a></h4>
    <p>A geometric figure with infinite surface area but finite volume.</p>
    $$ V = \pi \int_1^\infty \frac{1}{x^2} dx = \pi $$
</div>