<h3>Famous Equations</h3>
<div class='math-list'>
    <h4><a href="https://en.wikipedia.org/wiki/Minkowski_space" target="_blank">1. Spacetime Interval</a></h4>
    <p>The invariant metric of special relativity combining space and time.</p>
    $$ ds^2 = c^2dt^2 - (dx^2 + dy^2 + dz^2) $$

    <h4><a href="https://en.wikipedia.org/wiki/Minkowski_inequality" target="_blank">2. Minkowski Inequality</a></h4>
    <p>The triangle inequality for \(L^p\) spaces.</p>
    $$ \left( \sum |x_i + y_i|^p \right)^{1/p} \le \left( \sum |x_i|^p \right)^{1/p} + \left( \sum |y_i|^p \right)^{1/p}
    $$
</div>