<h3>Famous Equations</h3>
<div class='math-list'>
    <h4><a href="https://en.wikipedia.org/wiki/Newton%27s_laws_of_motion#Newton's_second_law" target="_blank">1.
            Newton’s Second Law</a></h4>
    <p>Published in <em>Principia</em> (1687), this equation mathematically formalized motion in a way that dominated
        physics for over two centuries.</p>
    $$ \mathbf{F} = m\mathbf{a} $$

    <h4><a href="https://en.wikipedia.org/wiki/Newton%27s_law_of_universal_gravitation" target="_blank">2. Law of
            Universal Gravitation</a></h4>
    <p>Newton introduced this in 1687, unifying celestial and terrestrial mechanics under a single mathematical law.</p>
    $$ F = G\frac{m_1 m_2}{r^2} $$

    <h4><a href="https://en.wikipedia.org/wiki/Binomial_series" target="_blank">3. Binomial Series</a></h4>
    <p>Developed in the 1660s, this expansion was part of Newton’s broader creation of infinite series methods before
        calculus was formalized.</p>
    $$ (1+x)^n = \sum_{k=0}^{\infty} \binom{n}{k} x^k $$

    <h4><a href="https://en.wikipedia.org/wiki/Leibniz%E2%80%93Newton_calculus_controversy" target="_blank">4.
            Newton–Leibniz Calculus (Fluxions)</a></h4>
    <p>Newton devised fluxions in the mid-1660s, though publication delays fueled the famous priority dispute with
        Leibniz.</p>
    $$ \frac{dy}{dx} $$
</div>