<h3>Famous Equations</h3>
<div class='math-list'>
    <h4><a href="https://en.wikipedia.org/wiki/Wave_equation" target="_blank">1. Wave Equation</a></h4>
    <p>The first solution to the vibrating string problem.</p>
    $$ \frac{\partial^2 u}{\partial t^2} = c^2 \frac{\partial^2 u}{\partial x^2} $$

    <h4><a href="https://en.wikipedia.org/wiki/D%27Alembert%27s_principle" target="_blank">2. D'Alembert's Principle</a>
    </h4>
    <p>Converting a dynamic problem into a static one by introducing inertial forces.</p>
    $$ \mathbf{F} - \frac{d\mathbf{p}}{dt} = 0 $$
</div>