<h3>Famous Equations</h3>
<div class='math-list'>
    <h4><a href="https://en.wikipedia.org/wiki/Fourier_series" target="_blank">1. Fourier Series</a></h4>
    <p>Introduced in 1807, this idea was initially controversial for claiming arbitrary functions could be represented
        by trigonometric series.</p>
    $$ f(x) = a_0 + \sum_{n=1}^{\infty} \left(a_n \cos nx + b_n \sin nx\right) $$

    <h4><a href="https://en.wikipedia.org/wiki/Fourier_transform" target="_blank">2. Fourier Transform</a></h4>
    <p>Developed from Fourier’s heat theory, this transform later became essential to physics, engineering, and signal
        processing.</p>
    $$ \hat{f}(\xi) = \int_{-\infty}^{\infty} f(x)e^{-2\pi i \xi x}dx $$

    <h4><a href="https://en.wikipedia.org/wiki/Heat_equation" target="_blank">3. Heat Equation</a></h4>
    <p>Fourier formulated this equation in 1807 while studying heat diffusion, laying groundwork for modern partial
        differential equations.</p>
    $$ \frac{\partial u}{\partial t} = \alpha \nabla^2 u $$
</div>